          
          <div class="students">
            <h2>Students (advised or co-advised)</h2>
		   <ul class="subitems">
			  <li><span class="subitem">Erhu Feng (Ph.D student since 2020): Ph.D national scholarship 2024</span></li>
			  <li><span class="subitem">Qingyuan Liu (Ph.D student since 2021): Ph.D national scholarship 2024</span></li>
			  <li><span class="subitem">Bicheng Yang (Ph.D student since 2021)</span></li>
			  <li><span class="subitem">Yuanpei Wu (Ph.D student since 2022)</span></li>
			  <li><span class="subitem">Jingkai He (Ph.D student since 2025, MS student from 2023 to 2025)</span></li>
			  <li><span class="subitem">Jing Zhang (Ph.D student since 2025, MS student from 2023 to 2025)</span></li>
			  <li><span class="subitem">Yanning Yang (MS student since 2023)</span></li>
			  <li><span class="subitem">Rongchuan Liu (MS student since 2024)</span></li>
			  <li><span class="subitem">Xi Zhao (MS student since 2024)</span></li>
			  <li><span class="subitem">Yunpeng Dong (MS student since 2024)</span></li>
			  <li><span class="subitem">Haocheng Wang (MS student since 2025)</span></li>
			</ul>
            <h3>Alumni</h3>
		   <ul class="subitems">
			  <li><span class="subitem">Qingyu Shang (MS student from 2022 to 2025, Google Shanghai now)</span></li>
			  <li><span class="subitem">Yuhao Xue (MS student from 2021 to 2024, JQ Investments now)</span></li>
			</ul>
          </div>
